* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

.page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  word-break:break-all;
  background-color: #48A9A6;
}

.flexible {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  transition: font-size 600ms;
  transition-timing-function: ease-out;
}

a:hover {
  font-size: 1.15em;
  color: #212227;
}

a:visited {
  color: #212227;
}

.header-spacer {
  flex-wrap: wrap;
  justify-content: space-around;
  visibility: hidden;
}
.header-spacer,
.header {
  position: fixed;
  background: #4281A4;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 2px solid #E4DFDA;
}

.header a {
  text-decoration: none;
}

.header-spacer h1,
.header h1 {
  font-size: 2em;
  margin: 10px 0 10px 0;
}

.menu {
  font-size: 1.2em;
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu li {
  display: inline;
  padding: 12px;
  font-style: italic;
}

.menu a {
  text-decoration: overline;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-color: #F75590;
}

.content {
  background-color: #48A9A6;
  font-size: 4em;
  height: 1000px;
}

.footer {
  background-color: #212227;
  font-size: 4em;
  display: block;
  border-top: 2px solid #E4DFDA;
  padding: 20px;
}

.footer h2 {
  margin: 10px;
  font-size: 36px;
  color: #F75590;
}

.footer p {
  font-size: 24px;
  margin-bottom: 12px;
}

.footer a {
  color: #E4DFDA;
}

.footer a:hover {
  text-decoration-color: #F75590;
}
