* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier;
}

.page {
  display: flex;
  flex-wrap: wrap;
  height: 1200px;
}

.flexible {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  text-align: center;
}

.header {
  position: fixed;
  background: blue;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header h1 {
  font-size: 2em;
  font-weight: ;
}

.menu {
  background-color: red;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu li {
  display: inline;
  padding: 20px;
  font-style: italic;
}

.menu a {
  color: black;
}
.content {
  background-color: green;
}

.footer {
  background-color: turquoise;
}
