@font-face {
  font-display: swap;
  font-family: "Roboto Light";
  src:url(./Roboto-Light.ttf);
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif Light";
  src:url(./RobotoSerif-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Light', sans-serif;
}

.flexible {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: #E6FDFF;
  background-color: #F1F7EE;
  min-height: 100vh;
  height: auto;
  padding-bottom: 175px;
}

.middle {
  flex-grow: 1;
}

h2 {
  font-size: 4.5vh;
}

a {
  transition: font-size 600ms;
  transition-timing-function: ease-out;
  color: #212227;
}

a:hover {
  font-size: 1.15em;
  color: #212227;
}

a:visited {
  color: #212227;
}

.header-spacer {
  visibility: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 0.3vh solid white;
}

.header {
  position: fixed;
  background: #4281A4;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 0.3vh solid #E4DFDA;
  right: 0;
  top: 0;
}

.header-spacer a,
.header a {
  text-decoration: none;
}

.header-spacer h1,
.header h1 {
  font-size: 4vh;
  margin: 10px 0 10px 0;
}

.menu {
  font-size: 2.15vh;
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu li {
  display: inline;
  padding: 12px;
  font-style: italic;
}

.menu a {
  text-decoration: overline;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-color: #F75590;
}

.content {
  margin: 30px 30px;
  font-size: 4.5vh;
  word-break: normal;
  width: 1200px;
  max-width: 1200px;
  min-width: 50vw;
  text-align: left;
}
.content li {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 2.15vh;
}
.content ul {
  padding-left: 21px;
}

.block {
  font-size: 3.1vh;
}

.block a:hover {
  font-size: 1em;
  text-decoration-color: #F75590;
}

.highlight {
  margin: 50px 40px;
  text-align: center;
  font-weight: bold;
}

.columns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.columns ul {
  padding-right: 20px;
}

.post {
  border: 0.4vw solid #E4DFDA;
  border-radius: 2vw;
  background-color: #212227;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.post-photo {
  border-radius: 50%;
  max-width: 15vw;
  margin: 2vw;
  border: 0.3vw solid #F75590;
}

.post-text {
  justify-content: space-between;
}

.post a {
  color: #E4DFDA;
  text-decoration: none;
}

.post a:hover {
  font-size: 1.02em;
}

.post h4 {
  font-size: 4vw;
}

.post p {
  color: #F75590;
  font-size: 3vw;
}

.profile-photo {
  border-radius: 50%;
  border: 3px solid #E4DFDA;
  max-width: 25vh;
  margin: 2.5vh 0;
}

.profile {
  text-align: center;
}

.banner {
  width: 100%;
  border-radius: 3vh;
  border: 2px solid #E4DFDA;
}

.image-with-cap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.cap-image {
  width: 95%;
  border-radius: 3vh;
  border: 2px solid #E4DFDA;
  margin-top: 30px;
}

.image-cap {
  font-size: 2.5vh;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #E4DFDA;
}

br {
  display: block;
  content: "";
  margin-top: 20px;
}

hr {
  border-color: #212227;
  border-width: 0.1vh;
}

.job-title {
  font-style: italic;
  font-size: 2.6vh;
}

.dates {
  font-size: 2.15vh;
  font-weight: 300;
}

.footer {
  background-color: #212227;
  font-size: 4em;
  display: block;
  border-top: 0.3vh solid #E4DFDA;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 175px;
}

.footer h2 {
  margin: 10px;
  font-size: 28px;
  color: #F75590;
}

.footer p {
  font-size: 20px;
  margin-bottom: 12px;
}

.footer a {
  color: #E4DFDA;
}

.footer a:hover {
  text-decoration-color: #F75590;
}
